body {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, minmax(200px, auto));
    grid-template-areas:
    "header"
    "contents"
    "leads"
    "social-media"
    "footer";
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    border-top: 5px solid lightgreen;
    background-color: white;
    grid-area: header;
}

.contents {
    background-color: #6C7A89;
    grid-area: contents;
}

.leads {
    background-color: #95A5A6;
    grid-area: leads;
}

.social-media {
    background-color: #6C7A89;
    grid-area: social-media;
}

footer {
    background-color: #F2F1EF;
    grid-area: footer;
}